<html>

<head>

<title>MeowMeow Client</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/style.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<!-- <script src="js/chat_demo.js"></script> -->


</head>

<body data-page='chat' id='the-screen'>


<div id="header" class='row'>

<div class='header-col' id='home-header'>
	<img id='home-icon' src="images/screen-chat/btn-home.png" />
</div>

<div class='header-col' id='score-header'>
	<div id='score-above-bar'>
		<span id='score-number'>155</span>
		<img id='score-icon' class='header-icon' src="images/screen-chat/ic-star.png" />
	</div>
	<div id='score-progress' class="progress">
		<div id='score-bar' class="progress-bar" role="progressbar" aria-valuenow="30"
 		 aria-valuemin="0" aria-valuemax="100" style="width:30%"></div> 
 	 </div>
</div>

<div class='header-col' id='avatar-header'>
	<img id='avatar-icon' src="images/screen-chat/img-cat.png" />
</div>

<div class='header-col' id='love-food-header'>
	
	<div id='love-header'>	 
	  <div id='love-progress' class="progress">
		<div id='love-bar' class="progress-bar" role="progressbar" aria-valuenow="40"
	  aria-valuemin="0" aria-valuemax="100" style="width:30%"></div>
	  </div> 
	  <img id='love-icon' class="header-icon" src="images/screen-chat/ic-life.png" />
	 </div>

	 <div id='food-header'>
	   <div id='food-progress' class="progress">
		<div id='food-bar' class="progress-bar" role="progressbar" aria-valuenow="50"
	  aria-valuemin="0" aria-valuemax="100" style="width:30%"></div>
	  </div>
	  <img id='food-icon' class="header-icon" src="images/screen-chat/ic-food.png" /> 
	 </div>

 </div>

</div>

<div id="top-right-doc" class="doc-div">
	The love bar is decreasing. High love would result in bonuses and other positive events.<br/>
	<br/>
	The hunger bar measures how hungry the cat is. If it becomes empty it would represent the can becoming unhealthy. This forces both players to maintain some sort of constant contact with each other. 
</div>



<div id='chat-area' class='row'>

</div>

<div id='footer' class='row'>

<form id='text-messanger'>
	<input id='the-text-area' type="text" name="text" />
</form>
	<img class="emoticon-button" data-id='text' src="images/screen-chat/btn-text.png" id='text-button' /> 	
	<img class="emoticon-button" data-id='actions' src="images/screen-chat/btn-sticker.png" id='actions-button' /> 
	<img class="emoticon-button" data-id='food' src='images/screen-chat/btn-food.png' id='food-button' /> 
	<img class="emoticon-button" data-id='love' src='images/screen-chat/btn-love.png' id='love-button' /> 
</div>

<div id='emoticon-menu-area' class="row">

<div id='keyboard-area' class='emoticon-area'>
	<img id='the-keyboard' src="images/screen-chat/keyboard-cat.png">
	<div id='human-keys'>
				<?xml version="1.0" encoding="UTF-8" standalone="no"?>
				<svg width="375px" height="216px" viewBox="0 0 375 216" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
				    <title>Keyboard-human</title>
				    <desc>Created with Sketch.</desc>
				    <defs>
				        <path d="M35,-1.38777878e-15 C38.3135,-1.38777878e-15 40.5,2.14232 40.5,5.5 L40.5,36.5 C40.5,39.85768 38.3135,42 35,42 L5.5,42 C2.1865,42 0,39.85768 0,36.5 L0,5.5 C0,2.14232 2.1865,-1.38777878e-15 5.5,-1.38777878e-15 L35,-1.38777878e-15 Z" id="path-1"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feComposite in="shadowOffsetOuter1" in2="SourceAlpha" operator="out" result="shadowOffsetOuter1"></feComposite>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M82,-1.38777878e-15 C85.3135,-1.38777878e-15 87.5,2.14232 87.5,5.5 L87.5,36.5 C87.5,39.85768 85.3135,42 82,42 L52,42 C48.6865,42 46.5,39.85768 46.5,36.5 L46.5,5.5 C46.5,2.14232 48.6865,-1.38777878e-15 52,-1.38777878e-15 L82,-1.38777878e-15 Z" id="path-3"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feComposite in="shadowOffsetOuter1" in2="SourceAlpha" operator="out" result="shadowOffsetOuter1"></feComposite>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M119.5,-1.38777878e-15 C122.8135,-1.38777878e-15 125,2.14232 125,5.5 L125,36.5 C125,39.85768 122.8135,42 119.5,42 L99,42 C95.6865,42 93.5,39.85768 93.5,36.5 L93.5,5.5 C93.5,2.14232 95.6865,-1.38777878e-15 99,-1.38777878e-15 L119.5,-1.38777878e-15 Z" id="path-5"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-6">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M270,-1.38777878e-15 C273.3135,-1.38777878e-15 275.5,2.14232 275.5,5.5 L275.5,36.5 C275.5,39.85768 273.3135,42 270,42 L136.5,42 C133.1865,42 131,39.85768 131,36.5 L131,5.5 C131,2.14232 133.1865,-1.38777878e-15 136.5,-1.38777878e-15 L270,-1.38777878e-15 Z" id="path-7"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-8">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M363.5,-1.38777878e-15 C366.8135,-1.38777878e-15 369,2.14232 369,5.5 L369,36.5 C369,39.85768 366.8135,42 363.5,42 L287,42 C283.6865,42 281.5,39.85768 281.5,36.5 L281.5,5.5 C281.5,2.14232 283.6865,-1.38777878e-15 287,-1.38777878e-15 L363.5,-1.38777878e-15 Z" id="path-9"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-10">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feComposite in="shadowOffsetOuter1" in2="SourceAlpha" operator="out" result="shadowOffsetOuter1"></feComposite>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M36.5,-7.62941013e-08 C39.8135,-7.62941013e-08 42,2.14231992 42,5.49999992 L42,36.4999999 C42,39.8576799 39.8135,41.9999999 36.5,41.9999999 L5.5,41.9999999 C2.1865,41.9999999 0,39.8576799 0,36.4999999 L0,5.49999992 C0,2.14231992 2.1865,-7.62941013e-08 5.5,-7.62941013e-08 L36.5,-7.62941013e-08 Z" id="path-11"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-12">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M82,-1.38777878e-15 C85.3135,-1.38777878e-15 87.5,2.14232 87.5,5.5 L87.5,36.5 C87.5,39.85768 85.3135,42 82,42 L61.5,42 C58.1865,42 56,39.85768 56,36.5 L56,5.5 C56,2.14232 58.1865,-1.38777878e-15 61.5,-1.38777878e-15 L82,-1.38777878e-15 Z" id="path-13"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-14">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M119.5,-1.38777878e-15 C122.8135,-1.38777878e-15 125,2.14232 125,5.5 L125,36.5 C125,39.85768 122.8135,42 119.5,42 L99,42 C95.6865,42 93.5,39.85768 93.5,36.5 L93.5,5.5 C93.5,2.14232 95.6865,-1.38777878e-15 99,-1.38777878e-15 L119.5,-1.38777878e-15 Z" id="path-15"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-16">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M157,-1.38777878e-15 C160.3135,-1.38777878e-15 162.5,2.14232 162.5,5.5 L162.5,36.5 C162.5,39.85768 160.3135,42 157,42 L136.5,42 C133.1865,42 131,39.85768 131,36.5 L131,5.5 C131,2.14232 133.1865,-1.38777878e-15 136.5,-1.38777878e-15 L157,-1.38777878e-15 Z" id="path-17"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-18">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M195,-1.38777878e-15 C198.3135,-1.38777878e-15 200.5,2.14232 200.5,5.5 L200.5,36.5 C200.5,39.85768 198.3135,42 195,42 L174.5,42 C171.1865,42 169,39.85768 169,36.5 L169,5.5 C169,2.14232 171.1865,-1.38777878e-15 174.5,-1.38777878e-15 L195,-1.38777878e-15 Z" id="path-19"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-20">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M232.5,-1.38777878e-15 C235.8135,-1.38777878e-15 238,2.14232 238,5.5 L238,36.5 C238,39.85768 235.8135,42 232.5,42 L212,42 C208.6865,42 206.5,39.85768 206.5,36.5 L206.5,5.5 C206.5,2.14232 208.6865,-1.38777878e-15 212,-1.38777878e-15 L232.5,-1.38777878e-15 Z" id="path-21"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-22">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M270,-1.38777878e-15 C273.3135,-1.38777878e-15 275.5,2.14232 275.5,5.5 L275.5,36.5 C275.5,39.85768 273.3135,42 270,42 L249.5,42 C246.1865,42 244,39.85768 244,36.5 L244,5.5 C244,2.14232 246.1865,-1.38777878e-15 249.5,-1.38777878e-15 L270,-1.38777878e-15 Z" id="path-23"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-24">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M307.5,-1.38777878e-15 C310.8135,-1.38777878e-15 313,2.14232 313,5.5 L313,36.5 C313,39.85768 310.8135,42 307.5,42 L287,42 C283.6865,42 281.5,39.85768 281.5,36.5 L281.5,5.5 C281.5,2.14232 283.6865,-1.38777878e-15 287,-1.38777878e-15 L307.5,-1.38777878e-15 Z" id="path-25"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-26">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M363.5,-1.38430933e-15 C366.8135,-1.38430933e-15 369,2.14232 369,5.5 L369,36.5 C369,39.85768 366.8135,42 363.5,42 L332.5,42 C329.1865,42 327,39.85768 327,36.5 L327,5.5 C327,2.14232 329.1865,-1.38777878e-15 332.5,-1.38777878e-15 L363.5,-1.38430933e-15 Z" id="path-27"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-28">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feComposite in="shadowOffsetOuter1" in2="SourceAlpha" operator="out" result="shadowOffsetOuter1"></feComposite>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M26.5,-7.62941013e-08 C29.8135,-7.62941013e-08 32,2.14231992 32,5.49999992 L32,36.4999999 C32,39.8576799 29.8135,41.9999999 26.5,41.9999999 L6,41.9999999 C2.6865,41.9999999 0.5,39.8576799 0.5,36.4999999 L0.5,5.49999992 C0.5,2.14231992 2.6865,-7.62941013e-08 6,-7.62941013e-08 L26.5,-7.62941013e-08 Z" id="path-29"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-30">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M64,-7.62941013e-08 C67.3135,-7.62941013e-08 69.5,2.14231992 69.5,5.49999992 L69.5,36.4999999 C69.5,39.8576799 67.3135,41.9999999 64,41.9999999 L43.5,41.9999999 C40.1865,41.9999999 38,39.8576799 38,36.4999999 L38,5.49999992 C38,2.14231992 40.1865,-7.62941013e-08 43.5,-7.62941013e-08 L64,-7.62941013e-08 Z" id="path-31"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-32">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M101.5,-7.62941013e-08 C104.8135,-7.62941013e-08 107,2.14231992 107,5.49999992 L107,36.4999999 C107,39.8576799 104.8135,41.9999999 101.5,41.9999999 L81,41.9999999 C77.6865,41.9999999 75.5,39.8576799 75.5,36.4999999 L75.5,5.49999992 C75.5,2.14231992 77.6865,-7.62941013e-08 81,-7.62941013e-08 L101.5,-7.62941013e-08 Z" id="path-33"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-34">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M139,-7.62941013e-08 C142.3135,-7.62941013e-08 144.5,2.14231992 144.5,5.49999992 L144.5,36.4999999 C144.5,39.8576799 142.3135,41.9999999 139,41.9999999 L118.5,41.9999999 C115.1865,41.9999999 113,39.8576799 113,36.4999999 L113,5.49999992 C113,2.14231992 115.1865,-7.62941013e-08 118.5,-7.62941013e-08 L139,-7.62941013e-08 Z" id="path-35"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-36">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M177,-7.62941013e-08 C180.3135,-7.62941013e-08 182.5,2.14231992 182.5,5.49999992 L182.5,36.4999999 C182.5,39.8576799 180.3135,41.9999999 177,41.9999999 L156.5,41.9999999 C153.1865,41.9999999 151,39.8576799 151,36.4999999 L151,5.49999992 C151,2.14231992 153.1865,-7.62941013e-08 156.5,-7.62941013e-08 L177,-7.62941013e-08 Z" id="path-37"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-38">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M214.5,-7.62941013e-08 C217.8135,-7.62941013e-08 220,2.14231992 220,5.49999992 L220,36.4999999 C220,39.8576799 217.8135,41.9999999 214.5,41.9999999 L194,41.9999999 C190.6865,41.9999999 188.5,39.8576799 188.5,36.4999999 L188.5,5.49999992 C188.5,2.14231992 190.6865,-7.62941013e-08 194,-7.62941013e-08 L214.5,-7.62941013e-08 Z" id="path-39"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-40">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M252,-7.62941013e-08 C255.3135,-7.62941013e-08 257.5,2.14231992 257.5,5.49999992 L257.5,36.4999999 C257.5,39.8576799 255.3135,41.9999999 252,41.9999999 L231.5,41.9999999 C228.1865,41.9999999 226,39.8576799 226,36.4999999 L226,5.49999992 C226,2.14231992 228.1865,-7.62941013e-08 231.5,-7.62941013e-08 L252,-7.62941013e-08 Z" id="path-41"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-42">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M289.5,-7.62941013e-08 C292.8135,-7.62941013e-08 295,2.14231992 295,5.49999992 L295,36.4999999 C295,39.8576799 292.8135,41.9999999 289.5,41.9999999 L269,41.9999999 C265.6865,41.9999999 263.5,39.8576799 263.5,36.4999999 L263.5,5.49999992 C263.5,2.14231992 265.6865,-7.62941013e-08 269,-7.62941013e-08 L289.5,-7.62941013e-08 Z" id="path-43"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-44">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M327,-7.62941013e-08 C330.3135,-7.62941013e-08 332.5,2.14231992 332.5,5.49999992 L332.5,36.4999999 C332.5,39.8576799 330.3135,41.9999999 327,41.9999999 L306.5,41.9999999 C303.1865,41.9999999 301,39.8576799 301,36.4999999 L301,5.49999992 C301,2.14231992 303.1865,-7.62941013e-08 306.5,-7.62941013e-08 L327,-7.62941013e-08 Z" id="path-45"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-46">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M26,-7.62939876e-08 C29.3135,-7.62939876e-08 31.5,2.14231992 31.5,5.49999992 L31.5,36.4999999 C31.5,39.8576799 29.3135,41.9999999 26,41.9999999 L5.5,41.9999999 C2.1865,41.9999999 0,39.8576799 0,36.4999999 L0,5.49999992 C0,2.14231992 2.1865,-7.62939876e-08 5.5,-7.62939876e-08 L26,-7.62939876e-08 Z" id="path-47"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-48">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M63.5,-7.62941013e-08 C66.8135,-7.62941013e-08 69,2.14231992 69,5.49999992 L69,36.4999999 C69,39.8576799 66.8135,41.9999999 63.5,41.9999999 L43,41.9999999 C39.6865,41.9999999 37.5,39.8576799 37.5,36.4999999 L37.5,5.49999992 C37.5,2.14231992 39.6865,-7.62941013e-08 43,-7.62941013e-08 L63.5,-7.62941013e-08 Z" id="path-49"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-50">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M101,-7.62941013e-08 C104.3135,-7.62941013e-08 106.5,2.14231992 106.5,5.49999992 L106.5,36.4999999 C106.5,39.8576799 104.3135,41.9999999 101,41.9999999 L80.5,41.9999999 C77.1865,41.9999999 75,39.8576799 75,36.4999999 L75,5.49999992 C75,2.14231992 77.1865,-7.62941013e-08 80.5,-7.62941013e-08 L101,-7.62941013e-08 Z" id="path-51"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-52">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M138.5,-7.62941013e-08 C141.8135,-7.62941013e-08 144,2.14231992 144,5.49999992 L144,36.4999999 C144,39.8576799 141.8135,41.9999999 138.5,41.9999999 L118,41.9999999 C114.6865,41.9999999 112.5,39.8576799 112.5,36.4999999 L112.5,5.49999992 C112.5,2.14231992 114.6865,-7.62941013e-08 118,-7.62941013e-08 L138.5,-7.62941013e-08 Z" id="path-53"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-54">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M176,-7.62941013e-08 C179.3135,-7.62941013e-08 181.5,2.14231992 181.5,5.49999992 L181.5,36.4999999 C181.5,39.8576799 179.3135,41.9999999 176,41.9999999 L155.5,41.9999999 C152.1865,41.9999999 150,39.8576799 150,36.4999999 L150,5.49999992 C150,2.14231992 152.1865,-7.62941013e-08 155.5,-7.62941013e-08 L176,-7.62941013e-08 Z" id="path-55"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-56">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M213.5,-7.62941013e-08 C216.8135,-7.62941013e-08 219,2.14231992 219,5.49999992 L219,36.4999999 C219,39.8576799 216.8135,41.9999999 213.5,41.9999999 L193,41.9999999 C189.6865,41.9999999 187.5,39.8576799 187.5,36.4999999 L187.5,5.49999992 C187.5,2.14231992 189.6865,-7.62941013e-08 193,-7.62941013e-08 L213.5,-7.62941013e-08 Z" id="path-57"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-58">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M251,-7.62941013e-08 C254.3135,-7.62941013e-08 256.5,2.14231992 256.5,5.49999992 L256.5,36.4999999 C256.5,39.8576799 254.3135,41.9999999 251,41.9999999 L230.5,41.9999999 C227.1865,41.9999999 225,39.8576799 225,36.4999999 L225,5.49999992 C225,2.14231992 227.1865,-7.62941013e-08 230.5,-7.62941013e-08 L251,-7.62941013e-08 Z" id="path-59"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-60">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M288.5,-7.62941013e-08 C291.8135,-7.62941013e-08 294,2.14231992 294,5.49999992 L294,36.4999999 C294,39.8576799 291.8135,41.9999999 288.5,41.9999999 L268,41.9999999 C264.6865,41.9999999 262.5,39.8576799 262.5,36.4999999 L262.5,5.49999992 C262.5,2.14231992 264.6865,-7.62941013e-08 268,-7.62941013e-08 L288.5,-7.62941013e-08 Z" id="path-61"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-62">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M326,-7.62941013e-08 C329.3135,-7.62941013e-08 331.5,2.14231992 331.5,5.49999992 L331.5,36.4999999 C331.5,39.8576799 329.3135,41.9999999 326,41.9999999 L305.5,41.9999999 C302.1865,41.9999999 300,39.8576799 300,36.4999999 L300,5.49999992 C300,2.14231992 302.1865,-7.62941013e-08 305.5,-7.62941013e-08 L326,-7.62941013e-08 Z" id="path-63"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-64">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				        <path d="M363.5,-7.62941013e-08 C366.8135,-7.62941013e-08 369,2.14231992 369,5.49999992 L369,36.4999999 C369,39.8576799 366.8135,41.9999999 363.5,41.9999999 L343,41.9999999 C339.6865,41.9999999 337.5,39.8576799 337.5,36.4999999 L337.5,5.49999992 C337.5,2.14231992 339.6865,-7.62941013e-08 343,-7.62941013e-08 L363.5,-7.62941013e-08 Z" id="path-65"></path>
				        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-66">
				            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" type="matrix" in="shadowOffsetOuter1"></feColorMatrix>
				        </filter>
				    </defs>
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="chat-human-keyboard" transform="translate(0.000000, -451.000000)">
				            <g id="keyboard-human" transform="translate(0.000000, 383.000000)">
				                <g transform="translate(0.000000, 68.000000)">
				                    <rect id="Base" fill="#DBEBFF" x="0" y="0" width="375" height="216"></rect>
				                    <g id="Bottom-Row" stroke-width="1" transform="translate(3.000000, 170.000000)">
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
				                            <use fill-opacity="0.5" fill="#ABB3BD" fill-rule="evenodd" xlink:href="#path-1"></use>
				                            <use fill-opacity="0.5" fill="#000000" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-1"></use>
				                            <use fill-opacity="0.100000001" fill="#FFFFFF" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-1"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
				                            <use fill-opacity="0.5" fill="#ABB3BD" fill-rule="evenodd" xlink:href="#path-3"></use>
				                            <use fill-opacity="0.5" fill="#000000" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-3"></use>
				                            <use fill-opacity="0.100000001" fill="#FFFFFF" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-3"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-8)" xlink:href="#path-7"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-7"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
				                            <use fill-opacity="0.5" fill="#ABB3BD" fill-rule="evenodd" xlink:href="#path-9"></use>
				                            <use fill-opacity="0.5" fill="#000000" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-9"></use>
				                            <use fill-opacity="0.100000001" fill="#FFFFFF" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-9"></use>
				                        </g>
				                        <text id="return" font-family=".AppleSystemUIFont" font-size="16" font-weight="normal" letter-spacing="-0.319999993" fill="#030303">
				                            <tspan x="302.5" y="25.5">return</tspan>
				                        </text>
				                        <text id="space" font-family=".AppleSystemUIFont" font-size="16" font-weight="normal" letter-spacing="-0.319999993" fill="#030303">
				                            <tspan x="182" y="25.5">spac</tspan>
				                            <tspan x="215.37625" y="25.5">e</tspan>
				                        </text>
				                        <path d="M113.5,30.75 C113.5,31.1642136 113.15625,31.5 112.747379,31.5 L106.252621,31.5 C105.83696,31.5 105.5,31.1671014 105.5,30.75 C105.5,30.3357865 105.835566,30 106.253784,30 L108.75,30 L108.75,27.9999995 C106.25,28 103.5,24.9743991 103.5,22.9776902 C103.5,21.4850958 103.5,19.7549557 103.5,19.7549557 C103.5,19.3380052 103.832899,19 104.25,19 C104.664214,19 105,19.3391356 105,19.7481731 L105,22.9776902 C105,24.4776902 107,26.4776898 109.5,26.4776903 C112,26.4776907 114,24.4776902 114,22.9776902 L114,19.7481731 C114,19.3349685 114.332899,19 114.75,19 C115.164214,19 115.5,19.3402641 115.5,19.7597686 L115.5,22.9776902 C115.5,24.9743991 112.75,28 110.25,27.9999995 L110.25,30 L112.746216,30 C113.162519,30 113.5,30.3328986 113.5,30.75 Z M106,14.9966774 C106,13.0655158 107.570937,11.5 109.5,11.5 C111.432997,11.5 113,13.0652266 113,14.9966774 L113,22.0033226 C113,23.9344842 111.429063,25.5 109.5,25.5 C107.567003,25.5 106,23.9347734 106,22.0033226 L106,14.9966774 Z M107.5,14.992017 C107.5,13.8918564 108.38773,13 109.5,13 C110.604569,13 111.5,13.9001762 111.5,14.992017 L111.5,22.007983 C111.5,23.1081436 110.61227,24 109.5,24 C108.395431,24 107.5,23.0998238 107.5,22.007983 L107.5,14.992017 Z" id="Speech" fill="#030303"></path>
				                        <path d="M66.75,30.5 C72.1347763,30.5 76.5,26.1347763 76.5,20.75 C76.5,15.3652237 72.1347763,11 66.75,11 C61.3652237,11 57,15.3652237 57,20.75 C57,26.1347763 61.3652237,30.5 66.75,30.5 Z M66.75,29.5 C71.5824916,29.5 75.5,25.5824916 75.5,20.75 C75.5,15.9175084 71.5824916,12 66.75,12 C61.9175084,12 58,15.9175084 58,20.75 C58,25.5824916 61.9175084,29.5 66.75,29.5 Z M63.75,19 C64.4403559,19 65,18.4403559 65,17.75 C65,17.0596441 64.4403559,16.5 63.75,16.5 C63.0596441,16.5 62.5,17.0596441 62.5,17.75 C62.5,18.4403559 63.0596441,19 63.75,19 Z M69.75,19 C70.4403559,19 71,18.4403559 71,17.75 C71,17.0596441 70.4403559,16.5 69.75,16.5 C69.0596441,16.5 68.5,17.0596441 68.5,17.75 C68.5,18.4403559 69.0596441,19 69.75,19 Z M59.8876334,22.1641444 C59.6390316,21.383134 60.065918,20.9785156 60.8530951,21.2329304 C60.8530951,21.2329304 63.0937503,22.2125 66.7500001,22.2125 C70.4062499,22.2125 72.6469047,21.2329304 72.6469047,21.2329304 C73.4287162,20.9662153 73.8812463,21.4044097 73.6058477,22.1807437 C73.6058477,22.1807437 72.6,27.575 66.75,27.575 C60.9,27.575 59.8876334,22.1641444 59.8876334,22.1641444 Z M66.75,23.1875 C64.06875,23.1875 61.8544055,22.4737821 61.8544055,22.4737821 C61.3273019,22.32948 61.1781233,22.5721615 61.5639555,22.957075 C61.5639555,22.957075 62.3625,24.65 66.75,24.65 C71.1375,24.65 71.9508503,22.9438304 71.9508503,22.9438304 C72.3093659,22.5399278 72.1690793,22.3359844 71.6354273,22.476349 C71.6354273,22.476349 69.43125,23.1875 66.75,23.1875 Z" id="Emoji" fill="#030303"></path>
				                        <text id="123" font-family=".AppleSystemUIFont" font-size="16" font-weight="normal" letter-spacing="-0.319999993" fill="#030303">
				                            <tspan x="4.5" y="26.5">123</tspan>
				                        </text>
				                    </g>
				                    <g id="Third-Row" stroke-width="1" transform="translate(3.000000, 118.000000)">
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-12)" xlink:href="#path-11"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-11"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-14)" xlink:href="#path-13"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-13"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-16)" xlink:href="#path-15"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-15"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-18)" xlink:href="#path-17"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-17"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-20)" xlink:href="#path-19"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-19"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-22)" xlink:href="#path-21"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-21"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-24)" xlink:href="#path-23"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-23"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-26)" xlink:href="#path-25"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-25"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-28)" xlink:href="#path-27"></use>
				                            <use fill-opacity="0.5" fill="#ABB3BD" fill-rule="evenodd" xlink:href="#path-27"></use>
				                            <use fill-opacity="0.5" fill="#000000" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-27"></use>
				                            <use fill-opacity="0.100000001" fill="#FFFFFF" fill-rule="evenodd" style="mix-blend-mode: soft-light;" xlink:href="#path-27"></use>
				                        </g>
				                        <path d="M337.059345,22.0593445 C336.474285,21.4742847 336.481351,20.5186489 337.059345,19.9406555 L343.789915,13.2100853 C344.182084,12.817916 344.94892,12.5 345.507484,12.5 L356.002098,12.5 C357.933936,12.5 359.5,14.0688477 359.5,16.0017983 L359.5,25.9982017 C359.5,27.9321915 357.923088,29.5 356.002098,29.5 L345.507484,29.5 C344.951066,29.5 344.177169,29.1771693 343.789915,28.7899148 L337.059345,22.0593445 Z M351.642663,20.9776903 L354.466795,18.1535585 C354.760106,17.8602476 354.763983,17.3814962 354.47109,17.088603 C354.176155,16.7936677 353.7014,16.7976328 353.406135,17.0928983 L350.582003,19.9170301 L347.757871,17.0928983 C347.46456,16.7995874 346.985809,16.7957097 346.692916,17.088603 C346.39798,17.3835382 346.401945,17.858293 346.697211,18.1535585 L349.521343,20.9776903 L346.697211,23.801822 C346.4039,24.0951329 346.400022,24.5738843 346.692916,24.8667776 C346.987851,25.1617128 347.462606,25.1577477 347.757871,24.8624822 L350.582003,22.0383504 L353.406135,24.8624822 C353.699445,25.1557931 354.178197,25.1596708 354.47109,24.8667776 C354.766025,24.5718423 354.76206,24.0970875 354.466795,23.801822 L351.642663,20.9776903 Z M338.70972,21.7097195 C338.317752,21.3177522 338.318965,20.6810349 338.70972,20.2902805 L344.643245,14.3567547 C344.840276,14.1597245 345.225639,14 345.493741,14 L355.997239,14 C357.103333,14 357.999999,14.8970601 357.999999,16.0058586 L357.999999,25.9941412 C357.999999,27.1019464 357.106457,27.9999999 355.997239,27.9999999 L345.493741,28 C345.221056,28 344.840643,27.8406431 344.643246,27.6432453 L338.70972,21.7097195 Z" id="Back" fill="#030303"></path>
				                        <text id="M" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="287.25" y="29.25">M</tspan>
				                        </text>
				                        <text id="N" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="251.25" y="29.25">N</tspan>
				                        </text>
				                        <text id="B" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="215" y="29.25">B</tspan>
				                        </text>
				                        <text id="V" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="177.25" y="29.25">V</tspan>
				                        </text>
				                        <text id="C" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="138.75" y="29.25">C</tspan>
				                        </text>
				                        <text id="X" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="101.5" y="29.25">X</tspan>
				                        </text>
				                        <text id="Z" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="64" y="29.25">Z</tspan>
				                        </text>
				                        <path d="M21.7052388,13.2052388 C21.3157462,12.8157462 20.6857559,12.8142441 20.2947612,13.2052388 L11.9160767,21.5839233 C11.1339991,22.3660009 11.3982606,23 12.4979131,23 L16.5,23 L16.5,28.009222 C16.5,28.5564136 16.9463114,29 17.4975446,29 L24.5024554,29 C25.053384,29 25.5,28.5490248 25.5,28.009222 L25.5,23 L29.5020869,23 C30.6055038,23 30.866824,22.366824 30.0839233,21.5839233 L21.7052388,13.2052388 Z" id="Shift" fill="#030303"></path>
				                    </g>
				                    <g id="Second-Row" stroke-width="1" transform="translate(21.000000, 64.000000)">
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-30)" xlink:href="#path-29"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-29"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-32)" xlink:href="#path-31"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-31"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-34)" xlink:href="#path-33"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-33"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-36)" xlink:href="#path-35"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-35"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-38)" xlink:href="#path-37"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-37"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-40)" xlink:href="#path-39"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-39"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-42)" xlink:href="#path-41"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-41"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-44)" xlink:href="#path-43"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-43"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-46)" xlink:href="#path-45"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-45"></use>
				                        </g>
				                        <text id="L" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="310" y="29.25">L</tspan>
				                        </text>
				                        <text id="K" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="272" y="29.25">K</tspan>
				                        </text>
				                        <text id="J" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="235.25" y="29.25">J</tspan>
				                        </text>
				                        <text id="H" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="195.75" y="29.25">H</tspan>
				                        </text>
				                        <text id="G" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="158.5" y="29.25">G</tspan>
				                        </text>
				                        <text id="F" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="122" y="29.25">F</tspan>
				                        </text>
				                        <text id="D" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="83.25" y="29.25">D</tspan>
				                        </text>
				                        <text id="S" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="46.75" y="29.25">S</tspan>
				                        </text>
				                        <text id="A" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="8.75" y="29.25">A</tspan>
				                        </text>
				                    </g>
				                    <g id="Top-Row" stroke-width="1" transform="translate(3.000000, 10.000000)">
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-48)" xlink:href="#path-47"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-47"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-50)" xlink:href="#path-49"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-49"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-52)" xlink:href="#path-51"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-51"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-54)" xlink:href="#path-53"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-53"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-56)" xlink:href="#path-55"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-55"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-58)" xlink:href="#path-57"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-57"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-60)" xlink:href="#path-59"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-59"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-62)" xlink:href="#path-61"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-61"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-64)" xlink:href="#path-63"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-63"></use>
				                        </g>
				                        <g id="Key">
				                            <use fill="black" fill-opacity="1" filter="url(#filter-66)" xlink:href="#path-65"></use>
				                            <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-65"></use>
				                        </g>
				                        <text id="P" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="346.25" y="29.25">P</tspan>
				                        </text>
				                        <text id="O" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="307.25" y="29.25">O</tspan>
				                        </text>
				                        <text id="I" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="275" y="29.25">I</tspan>
				                        </text>
				                        <text id="U" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="232" y="29.25">U</tspan>
				                        </text>
				                        <text id="Y" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="196" y="29.25">Y</tspan>
				                        </text>
				                        <text id="T" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="158.5" y="29.25">T</tspan>
				                        </text>
				                        <text id="R" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="121.25" y="29.25">R</tspan>
				                        </text>
				                        <text id="E" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="84.25" y="29.25">E</tspan>
				                        </text>
				                        <text id="W" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="42" y="29.25">W</tspan>
				                        </text>
				                        <text id="Q" font-family=".SFNSDisplay-Regular, .SF NS Display" font-size="23" font-weight="normal" fill="#030303">
				                            <tspan x="7.25" y="29.25">Q</tspan>
				                        </text>
				                    </g>
				                </g>
				            </g>
				        </g>
				    </g>
				</svg>
	</div>
</div>

<div id="bottom-left-doc" class="doc-div">
	These buttons would separate the communication between the two players into actions that are about food, love and so on.<br/>
	<br/>
	Notice that the cat would not be able to use real text, but rather only variations of the word "Meow", while the Human will be able to use text normally.
</div>
	
<div id='actions-area' class='emoticon-area'>

</div>

<div id='food-area' class='emoticon-area'>
	<!--
	<a data-id="pet" data-effect="{love:1,food:0}""  class='emoticon'><img class="sticker-image" src="images/stickers-human/pizza.jpg"></a>
	<a data-id='pet' data-effect='{love:1,food:0}'  class='emoticon'><img class="sticker-image" src="images/stickers-human/fish.jpg"></a>
	<a data-id='pet' data-effect='{love:1,food:0}'  class='emoticon'><img class="sticker-image" src="images/stickers-human/lasagna.jpg"></a>
	<a data-id='pet' data-effect='{love:1,food:0}'  class='emoticon'><img class="sticker-image" src="images/stickers-human/friskies.jpg"></a>
	-->
</div>

<div id='love-area' class='emoticon-area'>

</div>


</div>


</body>


</html>