<html>

<head>

<title>MeowMeow Client</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/style.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
<!-- <script src="js/chat_demo.js"></script> -->


</head>

<body data-page='entrance' id='the-screen'>

	<div id='header-home'>
		<p>
			Welcome to the MeowMeow demo. This demo conveys the MeowMeow concept, but please note that this is by no means the final look of the app. All images in this demo are placeholders, and the gamification is simplistic.
			<br /> <br />
			<a href="/choice"><img id='entrance-image' src="images/screen-launch/gatoazul.jpg"></a><br />
			 Note also that this demo focuses on the main feature of MeowMeow, which is the chat, and doesn't include others such as choosing who to play with.
			 <br / > 
			 <br />

			 Click <a href="/choice">here</a> to proceed to the demo.

		</p>
		<p>

		

			A click-dummy version of this demo, together with some screens that, can be found at: <a href='https://invis.io/PG7N0NXFM#/166643325_Launch'>https://invis.io/PG7N0NXFM#/166643325_Launch</a>
		</p>

	</div>
	
</body>

</html>