body {
    background-image: url("../images/screen-launch/bg.png");
    width: 330px;
    text-align: center;
    margin-left: 30%;
    padding-top: 30px;
}

/* ------ HEADER ---------- */
#header{
	margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 65px;
}

#entrance-image{
	width: 160px;
}

#the-screen-home{
	background:url("../images/screen-launch/gatoazul.jpg");
}

#home-icon{
	float: left;
	width: 60px;
}

#avatar-icon{
	width:60px;	
}

.header-icon{
	width:20px;
}

.header-col{
	float: left;
	height: 100%;
}

#home-header{
	width: 50px;
}

#score-header{
	width:100px;
}

#avatar-header{
	width: 50px;
}

#love-food-header{
	width: 130px;
	padding-left: 22px; 
}


.progress{
	height: 10px;
	width: 80px;
	background-color: black;
    border-radius: 15px;
}

#score-progress{
	margin-left: 12px;
	margin-top: 45px;
}

#score-bar{
	background-color: #87FFAF;
}

#score-above-bar{
	margin-top: 20px;
}

#score-number{
	margin-left: 28px;
	float: left;
}

#score-icon{	
	margin-right: 22px;
	float: right;
}

#food-icon{
	float: right;
}

#food-progress{
	float: left;
}

#food-bar{
	background-color: #FFC287;
}

#love-header{
	margin-top: 16px;
}

#love-icon{
	float: right;
}

#love-progress{	
	float: left;

}

#love-bar{
	background-color: #FF8787;
}


#top-right-doc{
	position: absolute;
    font-size: 10px;
    width: 200px;
    margin-left: 350px;
    margin-top: -66px;
}

#bottom-left-doc{
	position: absolute;
    font-size: 10px;
    width: 200px;
    margin-left: -205px;
    margin-top: -66px;
}


/* ------- CHAT AREA --------   */


#chat-area{
	height: 350px;
	overflow-y: scroll;
}

.chat-bubble-left{

}

.chat-message{
	font-size: 32px;
	width: 70%;
	
	/*background: url('../images/screen-chat/bubble-friend.svg') no-repeat center;*/
	background-color: white;
	border: solid;
	border-width: 1px;
	border-radius: 40px;
	margin-right: 15px;
}

.chat-text{

}

.chat-sticker{
	height: 60px;
}

.chat-me{
	float: right;
}

.chat-other{
	float: left;
}

.sticker-in-chat{
	height: 58px;
}


/* ------- FOOTER ----------- */

#the-text-area{
	width: 100%;
}

#footer{

}

#the-text-area{
	display: none;
}

.emoticon-button{
	width: 65px;
	margin: 11px;
}

.emoticon-area{
	width: 100%;
	height: 150px;
	background-color: white;
}

#the-keyboard{
	width: 100%;
}

#keyboard-area{
	display: none;
}

#actions-area{
	display: none;
}

#food-area{
	display: none;
}

#love-area{
	display: none;
}

.sticker-image{
	width:85px;
	margin: 1px;

}

#human-keys{
	background:url('../images/screen-chat/Keyboard-human.svg') no-repeat center;;
}


/* ----------- CHOICE SCREEN ----------- */

.choice-button{

}

.choice-image{
	width: 160px;
}


















